<!DOCTYPE html>
         <html lang="en">
            
 <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
         <head>
               <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
               <meta name="title" content="Create Your Online Business Card with Supadta">
               <meta name="description" content="Easily create your business card online with our user-friendly tool. Customize your card with unique templates and designs.">
               <meta name="keywords" content="business card, create, customize, template, online, Supadta">

               <meta name="author" content="Designet web agency">
               <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
               <title>Supadta</title> 
            </head>
            <body >
              
               <div class="dizme_tm_all_wrap" data-magic-cursor="show">
                  <app-header></app-header>
                  <div class="dizme_tm_section" id="home">
                     <div class="dizme_tm_hero">
                        <div class="background" data-img-url="assets/img/subscribe/dots.jpg"></div>
                        <div class="container">
                           <div class="content">
                              <div class="details">
                                 <div class="home_badge">
                                    <span class="home_badge_dot" aria-hidden="true"></span>
                                    Digital business cards for modern networking
                                 </div>
                                 <div class="hello">
                                    <h3 class="orangeText">Bienvenue sur </h3>
                                 </div>
                                 <div class="name">
                                    <h3>Supadata</h3>
                                 </div>
                                 <div class="job">
                                    <p><span class="greenText">The Smart  </span> <span class="purpleText">Business Card</span></p>
                                 </div>
                                 <div class="text">
                                    <p>Ajoutez et partagez vos coordonnées. Connectez-vous et élargissez votre réseau.</p>
                                 </div>
                                 
                                
                              </div>
                              <div class="avatar">
                                 <div class="image">
                                    <img src="assets/img/slider/avatar1.png" style="max-height: 450px;" />
                                    <span class="skills illustrator anim_moveBottom"><img class="svg" src="assets/img/rbk1/img1.png" alt /></span>
                                    <span class="skills photoshop anim_moveBottom"><img class="svg" src="assets/img/rbk1/img2.png" alt /></span>
                                    <span class="skills figma anim_moveBottom"><img class="svg" src="assets/img/rbk1/img3.png" alt /></span>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                        <div class="dizme_tm_down">
                           <a class="anchor" href="#benefits" (click)="scrollTo('benefits', $event)">
                              <svg width="26px" height="100%" viewBox="0 0 247 390" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:1.5;">
                                 <path id="wheel" d="M123.359,79.775l0,72.843" style="fill:none;stroke:#000;stroke-width:20px;" />
                                 <path id="mouse" d="M236.717,123.359c0,-62.565 -50.794,-113.359 -113.358,-113.359c-62.565,0 -113.359,50.794 -113.359,113.359l0,143.237c0,62.565 50.794,113.359 113.359,113.359c62.564,0 113.358,-50.794 113.358,-113.359l0,-143.237Z" style="fill:none;stroke:#000;stroke-width:20px;" />
                              </svg>
                           </a>
                        </div>
                     </div>
                  </div>
                  <div class="dizme_tm_section" id="benefits">
                     <div class="dizme_tm_services">
                        <div class="container">
                           <div class="dizme_tm_main_title" data-align="center">

                              <h3>Benefits</h3>
                              <p class="benefits_slogan">Supadata transforme votre identite professionnelle en une experience digitale intelligente, accessible et durable.</p>

                           </div>

                           <div class="service_list" aria-label="Benefices Supadata">
                              <ul>
                                 <li class="wow fadeInLeft" data-wow-duration="1s">
                                    <div class="list_inner tilt-effect">
                                       <span class="icon">
                                       <img class="svg" src="assets/img/svg/service/web.svg" alt />
                                       <img class="back" src="assets/img/brushes/service/4.png" alt />
                                       </span>
                                       <div class="title">
                                          <h3>ACCESSIBLE</h3>
                                       </div>
                                       <div class="text">
                                          <p>Avec Supadata, votre carte de visite est disponible 24h/24 via un simple lien ou QR code. Votre profil est accessible instantanement depuis n'importe quel appareil.</p>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                                    <div class="list_inner tilt-effect">
                                       <span class="icon">
                                       <img class="svg" src="assets/img/svg/service/physics.svg" alt />
                                       <img class="back" src="assets/img/brushes/service/2.png" alt />
                                       </span>
                                       <div class="title">
                                          <h3>REAL-TIME</h3>
                                       </div>
                                       <div class="text">
                                          <p>Tu changes de poste, de numero ou d'entreprise ? Pas besoin de reimprimer : modifie tes informations en un clic, elles sont automatiquement mises a jour partout.</p>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="wow fadeInLeft" data-wow-duration="1s">
                                    <div class="list_inner tilt-effect">
                                       <span class="icon">
                                       <img class="svg" src="assets/img/svg/service/anchor.svg" alt />
                                       <img class="back" src="assets/img/brushes/service/1.png" alt />
                                       </span>
                                       <div class="title">
                                          <h3>MODERNE</h3>
                                       </div>
                                       <div class="text">
                                          <p>Une carte digitale donne une image innovante et technologique. C'est un vrai plus pour entrepreneurs, freelances et startups : tu te demarques immediatement.</p>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
                                    <div class="list_inner tilt-effect">
                                       <span class="icon">
                                       <img class="svg" src="assets/img/svg/service/contact.svg" alt />
                                       <img class="back" src="assets/img/brushes/service/3.png" alt />
                                       </span>
                                       <div class="title">
                                          <h3>DURABLE</h3>
                                       </div>
                                       <div class="text">
                                          <p>Une seule carte digitale, toujours a jour. Moins de papier, plus de coherence : une presence professionnelle simple, accessible et responsable.</p>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="assets/img/brushes/service/5.png" alt /></div>
                        <div class="brush_2 wow zoomIn" data-wow-duration="1s"><img src="assets/img/brushes/service/6.png" alt /></div>
                     </div>
                  </div>
                  <div class="dizme_tm_section rbk_btm" id="BusinessesTeams">
                     <div class="dizme_tm_about">
                        <div class="container">
                           <div class="wrapper">
                              <div class="left">
                                 <div class="image">
                                    <img src="assets/img/about/004.png" alt />
                                 </div>
                              </div>
                              <div class="right">
                                 <div class="title wow fadeInUp" data-wow-duration="1s">

                                    <h3>Ne ratez jamais une occasion d’élargir votre réseau.</h3>
                                 </div>
                                 <div class="text wow fadeInUp" data-wow-duration="1s">
                                    <p>Connectez-vous où que vous soyez. 
                                       Votre carte de visite digitale se partage facilement avec toute personne que vous rencontrez, même sans application.</p>
                                 </div>

                              </div>
                           </div>
                        </div>
                        <div class="brush_1 wow fadeInLeft" data-wow-duration="1s"><img src="assets/img/brushes/about/1.png" alt /></div>
                        <div class="brush_2 wow fadeInRight" data-wow-duration="1s"><img src="assets/img/brushes/about/2.png" alt /></div>
                     </div>
                  </div>
                   <div class="dizme_tm_section rbk_btm">
                     <div class="dizme_tm_skills">
                        <div class="container">
                           <div class="wrapper">
                              <div class="left">
                                 <div class="dizme_tm_main_title wow fadeInUp" data-wow-duration="1s" data-align="left">

                                    <h3>Soyez mémorable.</h3>
                                    <p>Lorsque vous recevez une carte de visite digitale, Supadata enregistre automatiquement quand et où vous avez rencontré votre nouveau contact. 
                                       Vous pouvez également ajouter des notes à vos cartes pour conserver les informations clés de vos clients.</p>
                                 </div>

                              </div>
                              <div class="right">
                                 <img src="assets/img/about/007.png" alt />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="dizme_tm_section" id="Solutions">
                     <div class="dizme_tm_process">
                        <div class="container">
                           <div class="dizme_tm_main_title" data-align="center">

                              <h3>Solutions</h3>

                           </div>
                           <div class="list">
                              <ul>
                                 <li class="wow fadeInUp" data-wow-duration="1s">

                                    <div class="list_inner list_inner_rbk">
                                       <div class="icon"><span></span></div>
                                       <div class="title">
                                          <h3>Carte de visite digitale</h3>
                                       </div>
                                       <div class="text">
                                          <p>
                                        Personnalisez votre propre carte de visite digitale avec votre photo,
                                        votre logo et des modèles élégants. 
                                        Nouveau poste ? Nouveau logo ? Aucun problème.</p>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
                                    <div class="list_inner list_inner_rbk">
                                       <div class="icon"><span></span></div>
                                       <div class="title">
                                          <h3>Widgets pour smartphone</h3>
                                       </div>
                                       <div class="text">
                                          <p>Ajoutez un widget Supadta à votre smartphone et soyez toujours à un geste de partage de votre carte de visite digitale, où que vous alliez.</p>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <div class="list_inner list_inner_rbk">
                                       <div class="icon"><span></span></div>
                                       <div class="title">
                                          <h3>Sign off in style with a free email signature</h3>
                                       </div>
                                       <div class="text">
                                            <p>Faites bonne impression avec une belle signature email que vous pouvez créer en quelques minutes</p>
                                       </div>
                                    </div>
                                 </li>
                                 <li class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
                                    <div class="list_inner list_inner_rbk">
                                       <div class="icon"><span></span></div>
                                       <div class="title">
                                          <h3>NFC Business Cards</h3>
                                       </div>
                                       <div class="text">
                                            <p>Cartes de visite NFC par Supadta, partagez vos coordonnées en un seul geste.</p>
                                       </div>
                                    </div>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="dizme_tm_section">
                 </div>
                  <div class="dizme_tm_section">
                     <div class="dizme_tm_subscribe">
                        <div class="container">
                           <div class="inner">
                              <div class="background">
                                 <div class="dots" data-img-url="img/subscribe/dots.jpg"></div>
                                 <div class="overlay"></div>
                              </div>
                              <div class="content">
                                 <div class="left wow fadeInLeft" data-wow-duration="1s">
                                    <span class="subtitle">Abonnez-vous dès maintenant</span>
                                    <h3 class="title">Recevez ma newsletter</h3>
                                    <p class="text">
                            Recevez les dernières actualités, mises à jour,
                            astuces et conseils directement dans votre boîte mail</p>
                                 </div>
                                 <div class="right wow fadeInRight" data-wow-duration="1s">
                                    <div class="field">
                                        <form action="https://Supadta.com/subscribe" method="POST">
                                            <input type="hidden" name="_token" value="B8PTcxNjjcvDMPcgBdSei2PFuUIlub0utu604Mkt">                                            <input type="email" name="email" required placeholder="Your email here">
                                            <input type="submit" value="Send Now" />
                                        </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="dizme_tm_section" id="contact">
                     <div class="home_contact_cta">
                        <div class="container">
                           <div class="home_contact_card wow fadeInUp" data-wow-duration="1s">
                              <div class="home_contact_left">
                                 <span class="home_contact_badge">Contact</span>
                                 <h3>Une question ? Parlons-en.</h3>
                                 <p>Besoin d’une demo, d’une offre pour votre equipe, ou d’aide pour demarrer ? Notre equipe vous repond rapidement.</p>
                                 <div class="home_contact_actions">
                                    <a class="anchor home_btn home_btn--primary" routerLink="/contact"><span>Aller au formulaire</span></a>
                                    <a class="anchor home_btn home_btn--ghost" href="#Solutions" (click)="scrollTo('Solutions', $event)"><span>Voir les solutions</span></a>
                                 </div>
                              </div>
                              <div class="home_contact_right" aria-hidden="true">
                                 <img src="assets/img/about/3.png" alt="" />
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="dizme_tm_section">
                     <div class="dizme_tm_copyright">
                        <div class="container">
                           <div class="inner">
                              <div class="left wow fadeInLeft" data-wow-duration="1s">
                                 <p>Developed by Amal Ben Salah , Manar Ben Atia<a href="" target="_blank">  </a> &copy; 2026</p>
                              </div>
                              <div class="right wow fadeInRight" data-wow-duration="1s">
                                 <ul>
                                 <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="Terms%26Condition-Supadta.pdf" target="_blank">Terms &amp; Conditions</a></li>
                                    <!--<li><a href="#">Privacy Policy</a></li>-->
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
             <div class="mouse-cursor cursor-outer"></div>
               <div class="mouse-cursor cursor-inner"></div>
                  <div class="progressbar">
                     <a href="#"><span class="text">To Top</span></a>
                     <span class="line"></span>
                  </div>
          </div>
            
            </body>

</html>
