<footer class="iq-footer">
         <div class="container-fluid">
            <div class="row">
               <div class="col-lg-6">
                  <ul class="list-inline mb-0">
                     <li class="list-inline-item"><a href="privacy-policy.html">Developped By</a></li>
                     <li class="list-inline-item"><a href="terms-of-service.html">Amal Ben Salah , Manar Ben Atia</a></li>
                  </ul>
               </div>
               <div class="col-lg-6 text-right">
                  <span id="copyright"> 
<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</span> 
               </div>
            </div>
         </div>
      </footer>
