<div class="iq-sidebar" >

 <!-- Sidebar Logo -->
   <div class="iq-sidebar-logo d-flex justify-content-between">
      <a href="index.html" class="header-logo">
         <img src="assets/images/logoad.png" style="width: 120px; height: 60px;" class="img-fluid rounded-normal"
            alt="">
          </a>

      <div class="iq-menu-bt-sidebar">
         <div class="iq-menu-bt align-self-center">
            <div class="wrapper-menu">
               <div class="main-circle"><i class="ri-arrow-left-s-line"></i></div>
               <div class="hover-circle"><i class="ri-arrow-right-s-line"></i></div>
            </div>
         </div>
      </div>
   </div>

   
   <div id="sidebar-scrollbar">
      <nav class="iq-sidebar-menu">
         <ul id="iq-sidebar-toggle" class="iq-menu">
            <li>
               <a href="home" class="iq-waves-effect"  aria-expanded="false">
                  <span class="ripple rippleEffect"></span>
                  <i class="ri-home-7-fill"></i>
                     <span>Dashboard</span>
                  </a>
            </li>
            
            <li>
               <a href="#userinfo" class="iq-waves-effect" data-toggle="collapse" aria-expanded="false"><span
                     class="ripple rippleEffect"></span> <i class="ri-contacts-book-fill"></i>
                     <span>Contact</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i>
                    </a>
               <ul id="userinfo" class="iq-submenu collapse" data-parent="#iq-sidebar-toggle" >
                  <li><a href="listcontact"><i class="fa-solid fa-id-card-alt"></i>Liste Contact</a></li>
               </ul>
            </li>
            <li class="active active-menu">
               <a href="#ui-elements" class="iq-waves-effect collapsed" data-toggle="collapse" aria-expanded="false">
                  <i class="ri-admin-line"></i><span>Admin</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="ui-elements" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                  <li><a href="ajouteradmin"><i class="ri-user-add-fill"></i>Ajouter admin</a></li>
                  <li><a href="ListeAdmin"><i class="ri-list-unordered"></i>liste admin</a></li>
               </ul>
            </li>

            <li class="active active-menu1">
               <a href="#ui-entre" class="iq-waves-effect " data-toggle="collapse" aria-expanded="true">
                  <i class="ri-building-fill"></i><span>Entreprise</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="ui-entre" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                  <li><a href="AjouterRentreprise"><i class="ri-user-add-fill"></i>Ajouter entreprise</a></li>
                  <li><a href="ListeRRentreprise"><i class="ri-list-unordered"></i>liste entreprise</a></li>
               </ul>
            </li>

            <li class="active active-menu2">
               <a href="#ui-empl" class="iq-waves-effect " data-toggle="collapse" aria-expanded="true"><i class="ri-user-fill"></i><span>Employer</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="ui-empl" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                  <li><a href="AjouterEmployer"><i class="ri-user-add-fill"></i>Ajouter employer</a></li>
                  <li><a href="ListEmployer"><i class="ri-list-unordered"></i>liste employer</a></li>
               </ul>
            </li>

            <li class="active active-menu3">
               <a href="#ui-particulier" class="iq-waves-effect " data-toggle="collapse" aria-expanded="true"><i
                     class="ri-user-fill"></i><span>Particulier</span><i
                     class="ri-arrow-right-s-line iq-arrow-right"></i></a>
               <ul id="ui-particulier" class="iq-submenu collapse show" data-parent="#iq-sidebar-toggle">
                  <li><a href="AjouterParticulier"><i class="ri-user-add-fill"></i>Ajouter particulier</a></li>
                  <li><a href="ListeParticulier"><i class="ri-list-unordered"></i>liste particulier</a></li>
               </ul>
            </li>

         </ul>
      </nav>
     </div>
   </div>
