<footer>
        <div class="container-fluid">
            <p> Developed by Amal Ben Salah , Manar Ben Atia © 2026 Supadata</p>
			<ul>
                <li><a href="about" class="animated_link">About Us</a></li>
                
				<li><a href="contact" class="animated_link">Contacts</a></li>
			</ul>
        </div>
        <div class="dizme_tm_section">
                     <div class="dizme_tm_copyright">
                        <div class="container">
                           <div class="inner">
                              <div class="left wow fadeInLeft" data-wow-duration="1s">
                                 
                              </div>
                              <div class="right wow fadeInRight" data-wow-duration="1s">
                                 <ul>
                                 <li><a href="faq.html">FAQ</a></li>
                                    <li><a href="Terms%26Condition-Supadta.pdf" target="_blank">Terms &amp; Conditions</a></li>
                                    <!--<li><a href="#">Privacy Policy</a></li>-->
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
        <!-- /Container -->
</footer>
